/* Global Settings */

*{
    font-family: Arial, Helvetica,sans-serif;
}

img{
    max-width: 100%;
}


/* Header and Headings */
header{
    display: flex;

    border-bottom: 1px solid black;

    align-items: center;
    justify-content: center;
    
}
.title-pic img{
    max-width: 150px;
}

h1,h2,h3{
    font-family: 'Amatic SC';
}

h1{
    font-size: 5em;
}


/* Main */

main{
    border: solid black;
    border-radius: 10px;
    
    margin: 25px;
    padding: 25px;

    display: flex;

    align-items: center;
    justify-content: center;
}
.recipe{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: flex-start; */
}

.recipe-description{
    display: none;
    
}

.recipe-pic img{
    margin: 5px;
    border-radius: 10px;
}
.recipe-title{
    color:cornflowerblue;
}

.tags{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.tags div{
    border: solid 1px black;
    padding: 5px;
}

main img{
    max-width: 70vw;
    box-sizing: border-box;
}

/* Footer and Social Media Tags */

footer{

    justify-items: center;

    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
}
.social{
    display: flex;
}

.social a{
    flex: 0 0 3em;
    align-self: right;
}



@media screen and (min-width: 800px) {
    .recipe{
        display: flex;
        flex-direction: row;
    }
    .recipe-description{
        display: block;
        
    }

    .recipe-extras{
        margin-left: 10px;
    }
    main img{
        max-width: 60vw;
    }
}