* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
  }
  
  img {
    max-width: 100%;
  }

  ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    
  }

  li{
    flex: 0 1 5em;
  }

  .media-card{
    display: flex;
    gap: 2em;
    flex-direction: column;
  }

  @media screen and (min-width: 550px) {

    .media-card{
        display: flex;
        gap: 2em;
        flex-direction: row;
    }
    .media-card_image{
        flex: 0 1 250px;
    }
    .media-card_content{
        flex: 0 1 60ch;
    }
    
  }