@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --red: #AF1B3F;
    --gold: #EFC69B;
    --purple: #473144;

}

body{
    font-family:Helvetica, Arial, sans-serif;
}

h1{
    font-family: "Lora", Impact, serif;
    color: var(--red);
}
header h1{
    text-align: center;
}

main{
    display: grid;

    grid-template-columns: 3fr 1fr;
}


/* Nav Grid */

.nav-grid{
    display: grid;

    grid-template-columns: 75px 75px 75px;

    justify-content: end;
    justify-items: right;

    margin-right: 50px;
}
 nav{ 
    border-top: thick double;
    border-bottom: thick double;
    border-color: var(--gold);
    margin: 10px;
 }


/* Filter Grid */

.filter{
    grid-column: 2/3;
    height: 100%;

    border: solid;
    border-color: var(--gold);
    
}

/* Book Description Grid */

.books-desc{

    display: grid;

    grid-template-columns: 1fr 2fr;

    grid-column: 1/2;
}

.book-det-date{
    font-size: 1.5em;
}




/* Book Picture Grid & CSS */
.book-pics{
    grid-column: 2/3;
}

.book-pic{
    max-height: 700px;

    height: 100%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}


/* Book Details Grid & CSS */
/* .book-det-1{
    margin-top: 21px;

    max-height: 508px;

    height: 100%;
} */

.book-det{
    max-height: 700px;

    height: 100%;
}

.book-details{
    grid-column: 1/2;

    
    text-align: right;
    padding-right: 25px;
    margin-right: 25px;
    border-right: solid 1px;
    border-color: var(--gold);
}



footer{
    font-size: large;
    text-align: center;
    margin-top: 50px;
    background-color: var(--purple);
    color: white;
    margin: auto 0;
    height: 200px;
}


